venv/
data/source/tripadvisor_json/
data/source/tripadvisor_json_processed/
data/source/TripAdvisor.tar.gz
data/source/cocosum/.ipynb_checkpoints/
data/temporary_dataset_files/.ipynb_checkpoints/
openai.sh
src/.ipynb_checkpoints/
src/__pycache__/
wandb/
data/.ipynb_checkpoints/
data/hf_device_map.json
data/old_files/.ipynb_checkpoints/
data/results/.ipynb_checkpoints/bs_ref_negation-checkpoint.csv
data/results/.ipynb_checkpoints/ds_ref_negation-checkpoint.csv
data/results/.ipynb_checkpoints/error_analysis_ds_bs-checkpoint.json
data/results/.ipynb_checkpoints/nli_contrast_ref_base_cont-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_base_ent-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_base_neut-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_negation_agg-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_negation_cont-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_negation_ent-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_negation_neut-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_paraphrase_cont-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_paraphrase_ent-checkpoint.csv
data/results/.ipynb_checkpoints/nli_contrast_ref_paraphrase_neut-checkpoint.csv
data/results/.ipynb_checkpoints/sentpairs_nli_contrast_ref_negation-checkpoint.csv
.ipynb_checkpoints/